sudo: required

language: node_js
node_js:
  - "6.6"

services:
  - docker

script:
  - npm install
  - gulp docker

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push huddo121/behold;
    fi
  - if [ "$TRAVIS_BRANCH" == "development" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD";
    docker push huddo121/behold:next;
    fi
