<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <strong>Here are some images:</strong>
    <ul>
        {{#each images}}
            <li>{{RepoTags}} (<small>{{Id}}</small>)</li>
        {{/each}}
    </ul>
</div>
