<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/picnicss/6.1.4/picnic.min.css" crossorigin="anonymous" />
  </head>
  <body>
    <nav style="position: absolute;"><span class="brand" style="font-size: 160%;"><span style="color: #E74D3C;">B</span><span>ehold</span></span></nav>
    {{{body}}}
  </body>
</html>
